### List
- Contains a multiple data types
- Indexing

## 1. Tuple
- Everything like list
- Except that tuple is immutable while list is mutable
- Create a tuple: (), tuple()

![](https://miro.medium.com/max/1316/1*uFlTNY4W3czywyU18zxl8w.png)

**Immutable**: we can NOT change the values in the data type / data structures

**Mutable**: We CAN chaneg the values in the data type / data structures

In [3]:
a = 1
id(a)

140455956322608

In [4]:
a = 2
id(a)

140455956322640

In [5]:
li = [1, 2, 3, 4]
id(li)

140456021433216

In [6]:
li[2] = 'Truong'
id(li)

140456021433216

In [7]:
li

[1, 2, 'Truong', 4]

In [9]:
[method for method in dir(tuple) if not method.startswith('__')]

['count', 'index']

In [13]:
tupl = (1, 2, 3, 'Truong', 'Hiromi', 'Hiromi', True, False)
tupl

(1, 2, 3, 'Truong', 'Hiromi', 'Hiromi', True, False)

In [14]:
tupl.index('Truong')

3

In [15]:
tupl.count('Hiromi')

2

In [16]:
tupl[3]

'Truong'

In [17]:
tupl[3] = 'Thu'

TypeError: 'tuple' object does not support item assignment

### 2. Set
- No duplicated values
- Non-indexing
- No-ordered
- {} or set()
- List: [], tuple: (), set: {}

In [34]:
set_1 = {1, 1, 2, 3, 3, 'Hiromi', 'Hiromi', True, True, False}
set_1

{1, 2, 3, False, 'Hiromi'}

In [19]:
set_1[1]

TypeError: 'set' object is not subscriptable

In [20]:
[method for method in dir(set) if not method.startswith('__')]

['add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

![](https://i.pinimg.com/originals/92/74/49/927449ed2c05f7cabe41d12d0db4c0ac.png)

In [22]:
[method for method in dir(set) if not method.startswith('__')]

['add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [24]:
set_1
id(set_1)

140456047140640

In [25]:
set_2 = set_1.copy()
id(set_2)

140456050901280

In [35]:
set_2

{5, 6, False, 'Hiromi'}

In [27]:
set_1

{1, 2, 3, False, 'Hiromi'}

In [28]:
set_2 = {False, 'Hiromi', 5, 6}

In [36]:
set_1, set_2

({1, 2, 3, False, 'Hiromi'}, {5, 6, False, 'Hiromi'})

In [37]:
set_1.difference(set_2)

{1, 2, 3}

In [38]:
set_3 = set_1.difference(set_2)

In [39]:
set_3

{1, 2, 3}

In [40]:
set_4 = set_1.difference_update(set_2)

In [41]:
set_4

In [42]:
set_1

{1, 2, 3}

In [ ]:
set_1.discard()

In [43]:
set_1

{1, 2, 3}

In [44]:
set_2 = {2, 4, 6, 7}

In [45]:
set_1.intersection(set_2)

{2}

### 3. Dictionary
- {key: values}
- We access the values by key
- {key: values}, dict()
- List: [], tuple: (), set: {}, dict: {key:value}

In [4]:
dict_1 = {'name': ['Truong', 'Hiromi'], 
          'age': [27, 31], 
          'nation': ['Vietnam', 'Japan'],
          'languages': ['Vietnamese', 'Japanese']}
dict_1

{'name': ['Truong', 'Hiromi'],
 'age': [27, 31],
 'nation': ['Vietnam', 'Japan'],
 'languages': ['Vietnamese', 'Japanese']}

In [53]:
dict_1['univesity'] = ['BK', 'Sitama']
dict_1

{'name': ['Truong', 'Hiromi'],
 'age': [27, 31],
 'nation': ['Vietnam', 'Japan'],
 'languages': ['Vietnamese', 'Japanese'],
 'univesity': ['BK', 'Sitama']}

In [55]:
dict_1.update({'mark': [9, 10]})
dict_1

{'name': ['Truong', 'Hiromi'],
 'age': [27, 31],
 'nation': ['Vietnam', 'Japan'],
 'languages': ['Vietnamese', 'Japanese'],
 'univesity': ['BK', 'Sitama'],
 'mark': [9, 10]}

In [63]:
dict_1.get('country', 'Japan')

'Japan'

In [65]:
dict_1.get('univesity', 'US')

['BK', 'Sitama']

In [73]:
[method for method in dir(list) if not method.startswith('__')]

['append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [74]:
[method for method in dir(tuple) if not method.startswith('__')]

['count', 'index']

In [75]:
[method for method in dir(set) if not method.startswith('__')]

['add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [66]:
[method for method in dir(dict) if not method.startswith('__')]

['clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [67]:
dict_1

{'name': ['Truong', 'Hiromi'],
 'age': [27, 31],
 'nation': ['Vietnam', 'Japan'],
 'languages': ['Vietnamese', 'Japanese'],
 'univesity': ['BK', 'Sitama'],
 'mark': [9, 10]}

In [68]:
dict_1.setdefault('ID')

In [71]:
dict_1.setdefault('major', ['DS', 'HR'])

['DS', 'HR']

In [72]:
dict_1

{'name': ['Truong', 'Hiromi'],
 'age': [27, 31],
 'nation': ['Vietnam', 'Japan'],
 'languages': ['Vietnamese', 'Japanese'],
 'univesity': ['BK', 'Sitama'],
 'mark': [9, 10],
 'ID': None,
 'major': ['DS', 'HR']}

In [76]:
dict_1.keys()

dict_keys(['name', 'age', 'nation', 'languages', 'univesity', 'mark', 'ID', 'major'])

In [80]:
dict_1.values()

dict_values([['Truong', 'Hiromi'], [27, 31], ['Vietnam', 'Japan'], ['Vietnamese', 'Japanese'], ['BK', 'Sitama'], [9, 10], None, ['DS', 'HR']])

In [82]:
for key, values in dict_1.items():
    print(f'Key: {key} - values: {values}')

Key: name - values: ['Truong', 'Hiromi']
Key: age - values: [27, 31]
Key: nation - values: ['Vietnam', 'Japan']
Key: languages - values: ['Vietnamese', 'Japanese']
Key: univesity - values: ['BK', 'Sitama']
Key: mark - values: [9, 10]
Key: ID - values: None
Key: major - values: ['DS', 'HR']

In [84]:
dict_1

{'name': ['Truong', 'Hiromi'],
 'age': [27, 31],
 'nation': ['Vietnam', 'Japan'],
 'languages': ['Vietnamese', 'Japanese'],
 'univesity': ['BK', 'Sitama'],
 'mark': [9, 10],
 'ID': None}

**Data types**:
- Nummeric: int, float, complex (1 + 2j)
- Boolean: True/ False
- String: "text" or 'text'
- Nontype: None

**Data structures**:
- List : [], list()
- Tuple: (), tuple --> like list except immutable
- Set: {}, set() --> non-indexing, no duplicated values
- Dictionary: {key:values}, dict()

### 4. Control flow/ Programming flow
- Sequence
- Loop: for, while
- Condition: if else

#### 4.1. Sequence
- The code runs from top to bottom

In [86]:
a = 1
b = 2
c = a + b
print(f'Done, {c}')

Done, 3

#### 4.2. Loop
- Run repeatly, applied for iterable data structures
- Iterable: data structures can contain more than 1 element
- Iterable: list, tuple, set, dictionary, ...
- Two kind of loops: **for**, **while**

##### 4.2.1 For loop
- Loop through index
```
for index in range(start, stop[exclusive], step):
    business logic
```

- Loop through item:

```
for item in list:
    business logic
   
```

In [1]:
li = ['Truong', True, 3, 4, 'Hiromi']
for item in li:
    print(item)

Truong
True
3
4
Hiromi

In [90]:
len(li)

5

In [97]:
list(range(0, len(li)))

[0, 1, 2, 3, 4]

In [98]:
li

['Truong', True, 3, 4, 'Hiromi']

In [2]:
for index in range(len(li)):
    print(li[index])

Truong
True
3
4
Hiromi

In [100]:
dict_1

{'name': ['Truong', 'Hiromi'],
 'age': [27, 31],
 'nation': ['Vietnam', 'Japan'],
 'languages': ['Vietnamese', 'Japanese'],
 'univesity': ['BK', 'Sitama'],
 'mark': [9, 10],
 'ID': None}

In [5]:
for key in dict_1:
    print(dict_1[key])

['Truong', 'Hiromi']
[27, 31]
['Vietnam', 'Japan']
['Vietnamese', 'Japanese']

In [6]:
for key in dict_1:
    print(key)

name
age
nation
languages

In [7]:
li = [2, 3, 4, 5, 6]
li_2 = []
for item in li:
    
    li_2.append(even)
li_2

[4, 9, 16, 25, 36]

In [8]:
### 
li = list(range(11))
li

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#### 4.2.2. While
```
while boolean_condition:
    business logic
```

In [9]:
a = 1
while a <= 5:
    print(f'This is loop {a}')
    a += 1  # a = a + 1

This is loop 1
This is loop 2
This is loop 3
This is loop 4
This is loop 5

**While**: when we don't know exactly number of loops

**For**: when we know exactly number of loops

#### 4.3 If else condition

```
if boolean_condition:
    business logic
elif boolean_contion: - optional
    business logic
...
elif boolean_condition: -optional
    business logic

else: - optional
    business logic
```

In [12]:
a = 1
if a >= 2:
    print('a greater or equal to 2!')

In [14]:
a = 4
if a >= 2:
    print('a greater or equal to 2!')
else:
    print('a lesser than 2')

a greater or equal to 2!

In [16]:
a = 2
if a > 2:
    print('a greater than 2!')
elif a < 2:
    print('a lesser than 2!')
else:
    print('a equal to 2')

a equal to 2

In [17]:
### 
li = list(range(11))
li

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# Ass 1: Create a new list that contains even numbers of given list
- for loop
- if condition

# Ass 2: Find a maximum numbers in given list [101, 55, 44, 303, 67, 89, 0, 2]

In [24]:
li = [101, 202, 0, -1, -2, -102, 5, 709]
even_list, odd_list = [], []
for item in li:
    if item % 2 == 0:
        even_list.append(item)
    else:
        odd_list.append(item)
        
even_list, odd_list

([202, 0, -2, -102], [101, -1, 5, 709])

In [31]:
li = [101, 55, 44, 303, 67, 89, 0, 2]
maximum = li[0]
for item in li[1:]:
    if maximum < item:
        maximum = item
maximum

303

### 5. Functions
- Buit-in function: print(), range(), id(), type(), ...
- User-defined function: we define for ourself
- Goal: write one time, but use a lot of times

```
def function_name(argument_1, argument_2, ... - optional):
    business logic
    return answer - ouput
```

In [ ]:
range(1, 11, 1)

In [33]:
li = [1, 2, 3, 4, 5, 6]
sum(li)

21

In [39]:
def create_even_odd_list(li):
    even_list, odd_list = [], []
    for item in li:
        if item % 2 == 0:
            even_list.append(item)
        else:
            odd_list.append(item)
            
    return even_list, odd_list

In [42]:
even, odd = create_even_odd_list([4, 5, 6, 99, -1, 3, -6])

In [45]:
# Create a function to find maximum number of given list
def find_maximum(li):
    maximum = li[0]
    for item in li[1:]:
        if maximum < item:
            maximum = item
    return maximum

In [46]:
find_maximum([345, 67, 567, -1, -45])

567

#### 5.2. Lambda function
- Function without name of function
- Only calculate for simple task
```
lamda input_1, input_2 : output
```

In [47]:
square = lambda x : x**2

In [48]:
square(8)

64

In [49]:
## Calcuate area of rectangle using lamda function
rectangle = lambda x, y : x*y
rectangle(4, 6)

24

### 6. Comprehension
- Another way to write the for loop
- List, set, tuple, dictionary, ... iterables

In [50]:
li = list(range(11))
li

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [53]:
[item**2 for item in li]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [54]:
{item**2 for item in li}

{0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100}

In [55]:
tuple(item**2 for item in li)

(0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100)

In [56]:
# Even number 
[item for item in li if item%2==0]

[0, 2, 4, 6, 8, 10]

In [58]:
# Odd number
li = [-1, -3, 4, 67, -56, -77]
[item for item in li if item%2 != 0]

[-1, -3, 67, -77]

In [59]:
abs(-1)

1

In [60]:
li = [-1, -3, 4, 67, -56, -77]
[-item if item < 0 else item for item in li]

[1, 3, 4, 67, 56, 77]

In [61]:
[abs(item) for item in li]

[1, 3, 4, 67, 56, 77]

In [64]:
[item_1 * item_2 for item_1 in li for item_2 in li]

[1,
 3,
 -4,
 -67,
 56,
 77,
 3,
 9,
 -12,
 -201,
 168,
 231,
 -4,
 -12,
 16,
 268,
 -224,
 -308,
 -67,
 -201,
 268,
 4489,
 -3752,
 -5159,
 56,
 168,
 -224,
 -3752,
 3136,
 4312,
 77,
 231,
 -308,
 -5159,
 4312,
 5929]

In [66]:
li = [[1, 2, 3], [4, 5, 6]]
[sub_item **2 for item in li for sub_item in item if sub_item %2 ==0]

[4, 16, 36]

In [68]:
[sub_item *2 if sub_item%2 != 0 else sub_item for item in li for sub_item in item]

[2, 2, 6, 4, 10, 6]

In [ ]:
8! = 8 * 7 * 6 *5 * 4 *... *1
10! = 10*9*...*1

In [ ]:
# Define the function that calculate factorial of given number
def factorial(number):
    return answer

In [69]:
2**5

32